@font-face {font-family: 'Open Sans';font-weight:normal;font-style:normal;src: url("xara_font_1.woff?65") format("woff"), local('Open Sans');}
@font-face {font-family: 'Raleway';font-weight:normal;font-style:normal;src: url("xara_font_3.woff?65") format("woff"), local('Raleway');}
@font-face {font-family: 'xr7_BIZ UDGothic';font-weight:bold;font-style:normal;src: url("xara_font_5.woff?65") format("woff"), local('xr7_BIZ UDGothic');}
@font-face {font-family: 'MingLiU_HKSCS';font-weight:bold;font-style:normal;src: url("xara_font_6.woff?65") format("woff"), local('MingLiU_HKSCS');}
