@font-face {font-family: 'Tinos';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?65") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xara_font_4.woff?65") format("woff");}
