@font-face {font-family: 'xr2_Cabin';font-weight:bold;font-style:normal;src: url("xara_font_1.woff?4") format("woff"), local('xr2_Cabin');}
@font-face {font-family: 'xr4_Palatino Linotype';font-weight:bold;font-style:normal;src: url("xara_font_2.woff?4") format("woff"), local('xr4_Palatino Linotype');}
