@font-face {font-family: 'xr1_Barlow Condensed';font-weight:bold;font-style:normal;src: url("xara_font_1.woff?7") format("woff"), local('xr1_Barlow Condensed');}
@font-face {font-family: 'Raleway';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?7") format("woff"), local('Raleway');}
@font-face {font-family: 'Barlow Medium';font-weight:500;font-style:normal;src: url("xara_font_3.woff?7") format("woff"), local('Barlow Medium');}
@font-face {font-family: 'xr4_Noto Sans';font-weight:bold;font-style:normal;src: url("xara_font_4.woff?7") format("woff"), local('xr4_Noto Sans');}
